* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Raleway", Arial, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

.title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    align-items: center;
    margin-bottom: 62px;
    text-transform: uppercase;
}

.separator {
    border-bottom: 1px solid #ec7979;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.subtitle {
    font-weight: 400;
    text-align: center;
    color: #86878b;
    margin-bottom: 80px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*HEADER*/

.header {
    background-color: #000;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__logo {
    margin-left: -44px;
    z-index: 4;
}
.banner__nav ul {
    display: flex;
}
.banner__nav ul a {
    width: 114px;
    display: flex;
    justify-content: center;
    padding: 32px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    transition: 0.5s ease-in;
}
.banner__nav ul a:hover {
    background: #ec7979;
}
.banner__nav ul a:active {
    background: #ab4949;
}

/*BANNER*/
.section__banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/NY.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.banner__info {
    padding: 230px 0 185px;
}
.banner__info .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.banner__container {
    display: flex;
    flex-direction: column;
}

.stylish__but-banner {
    text-align: center;
    width: 270px;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: 0;
    font-family: "Open Sans";
    font-style: normal;
    text-transform: capitalize;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.5s ease-in;
}
.stylish__but-banner:hover {
    color: #ec7979;
    border-color: #ec7979;
}
.stylish__but-banner:active {
    background-color: #ab4949;
    color: #ffffff;
    border-color: #ab4949;
}

.hidden__menu {
    display: none;
}

.hidden__menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding-top: 75px;
}

.hidden__menu ul a {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.burger__menu {
    width: 30px;
    height: 24px;
    position: relative;
    position: absolute;
    right: 30px;
    transform: translateY(-50%);
    z-index: 4;
}

.burger__menu span {
    width: 100%;
    display: block;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in;
}

.burger__menu::before,
.burger__menu::after {
    content: "";
    clear: both;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: 0.3s ease-in;
}

.burger__menu::before {
    top: 0;
}

.burger__menu::after {
    bottom: 0;
}

.burger__menu.active::before {
    transform: rotate(45deg);
    top: 50%;
}

.burger__menu.active::after {
    transform: rotate(-45deg);
    top: 50%;
}

.burger__menu.active span {
    transform: scale(0);
}

.hidden__menu nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    top: -100%;
    left: 0;
    z-index: 2;
    transition: 3s ease;
}

.burger__menu.active + nav {
    top: 0;
}

.banner__subtitle {
    color: #ffffff;
    margin-bottom: 45px;
    font-weight: 400;
    padding-right: 334px;
}
.banner__title {
    width: 670px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 55px;
    text-transform: uppercase;
}
.banner__separator {
    border: 1px solid #ffffff;
    margin-bottom: 45px;
    width: 170px;
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 270px;
    height: 58px;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 25px;
    border: 2px solid #ffffff;
    text-transform: capitalize;
}
.download-button:hover {
    color: #ec7979;
    border-color: #ec7979;
    transition: 0.8s ease-in;
}

.download-button:active {
    color: #ffffff;
    background-color: #ab4949;
    border: 2px solid #ab4949;
    transition: 0.5s ease-in;
}

.logo-ban {
    margin-bottom: 85px;
}
.banner__info .form-element {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.form-element {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    height: 38px;
    padding-left: 5px;
}

.form-element:focus {
    border: 2px solid #000;
}

.banner__form {
    width: 470px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: -23px;
}
.title__form {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 80px;
}
.form-item {
    padding: 0 50px;
    margin-bottom: 33px;
}

.form-pass {
    margin-bottom: 75px;
}

.banner__info .form-element {
    width: 100%;
    display: block;
}

.form-element {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    height: 38px;
    padding-left: 5px;
}

.form-element:focus {
    border: 2px solid #000;
}

.form-submit button {
    width: 100%;
    background-color: #ec7979;
    border-radius: 0px 0px 10px 10px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.form-submit button:hover {
    background-color: #ab4949;
    transition: all 0.5s ease-in;
}
.form-submit button:active {
    background-color: #ec7979;
    box-shadow: inset 0px 0px 10px #ab4949;
}

.form-item input {
    width: 100%;
}

.clr-text {
    color: #ec7979;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

/*SOCIAL MEDIA*/
.section-social {
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #f8efef;
}

.section-social .wrapper {
    display: flex;
}

.social__info-title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 30px;
}

.social__info-subtitle {
    color: #86878b;
    line-height: 21px;
    font-weight: 400;
}

.social__info {
    width: 35%;
}

.social__panel {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, auto));
    justify-content: space-evenly;
    align-content: center;
}

.social__panel-item {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-facebook svg:hover path {
    fill: blue;
    stroke: white;
    transition: 0.5s ease-in;
}
.social-twitter svg:hover path {
    fill: lightblue;
    stroke: white;
    transition: 0.5s ease-in;
}
.social-linkedin svg:hover path {
    fill: darkblue;
    stroke: white;
    transition: 0.5s ease-in;
}
.social-pinterest svg:hover path {
    fill: red;
    stroke: white;
    transition: 0.5s ease-in;
}
.social-instagram svg:hover path {
    fill: pink;
    stroke: white;
    transition: 0.5s ease-in;
}
.social-github svg:hover path {
    fill: black;
    stroke: white;
    transition: 0.5s ease-in;
}
.social-rss svg:hover path {
    fill: orange;
    stroke: white;
    transition: 0.5s ease-in;
}

/*AWESOME*/
.awesome {
    padding: 80px 0 50px;
}

.awesome__info {
    display: flex;
}

.ico {
    width: 92px;
    height: 92px;
    border: 2px solid #ec7979;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 80px;
}
.ico-lamp {
    background-image: url(../images/1.svg);
}
.ico-key {
    background-image: url(../images/2.svg);
}
.ico-light {
    background-image: url(../images/3.svg);
}
.awesome__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.awesome__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.awesome__title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    font-family: "Open Sans";
    line-height: 33px;
    margin-bottom: 30px;
}

/*PRICING*/
.pricing {
    background-color: #f5f5f5;
    padding: 112px 0 50px;
}

.pricing__container {
    display: flex;
    column-gap: 30px;
}
.pricing__row {
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
}

.pricing__column {
    background-color: #ffffff;
    margin: 2px 0 2px;
}
.pricing_space {
    padding: 5px 0 5px 0;
}
.pricing__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    font-family: "Open Sans";
    color: #ffffff;
    background-color: #333333;
    padding: 5px 0 5px 0;
    text-transform: capitalize;
}
.pricing__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    background-color: #333333;
    padding: 20px 0;
}
.pricing__text {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 0 5px 0;
}
.row_back {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    position: relative;
    top: -20px;
}

/*CUSTOMERS*/

.section__reviews {
    padding: 112px 0 50px;
}

.reviews__customers {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}

.customers__quote {
    text-align: center;
    font-weight: 400;
    line-height: 21px;
    color: #86878b;
    background: #e2e2e2;
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 66px;
    position: relative;
}
.customers__quote:before {
    content: "";
    clear: both;
    position: absolute;
    border: 20px solid transparent;
    border-top: 30px solid #e2e2e2;
    left: 60px;
    top: 100%;
}
.customer__flex {
    display: flex;
}
.customer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.customers__name {
    font-size: 24px;
    line-height: 33px;
    font-family: "Open Sans";
}

.customers__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: no-repeat center;
    margin-right: 30px;
}

.davis .customers__avatar {
    background-image: url(../images/madsen.png);
}
.jaydon .customers__avatar {
    background-image: url(../images/rosser.png);
}
.cooper .customers__avatar {
    background-image: url(../images/cooper.png);
}
/*STYLISH*/
.stylish {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/city.jpg);
    height: 442px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 85px 0 50px;
}
.stylish .subtitle {
    color: #ffffff;
}
.stylish .title {
    color: #ffffff;
}
.stylish .separator {
    border: 1px solid #ffffff;
}

.stylish__but {
    text-align: center;
    width: 370px;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: 0 auto;
    font-family: "Open Sans";
    font-style: normal;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 58px;
    transition: 0.5s ease-in;
}
.stylish__but:hover {
    color: #ec7979;
    border-color: #ec7979;
    cursor: pointer;
}
.stylish__but:active {
    background-color: #ab4949;
    color: #ffffff;
    border-color: #ab4949;
}

/*FORM CONTACT*/
.contact {
    padding: 112px 0 50px;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 30px;
    row-gap: 50px;
    margin-bottom: 50px;
}
.form__item-pass input,
.form__item-name input,
.form__item-email input {
    width: 100%;
}

.form-message textarea {
    resize: none;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.form-message {
    grid-column-start: 2;
    grid-row: 1 / 4;
    height: 100%;
}
.form__item-name,
.form__item-email,
.form__item-pass {
    grid-column-start: 1;
}

.contact__form-button {
    display: flex;
    justify-content: center;
}

.contact__form-button button {
    width: 370px;
    height: 58px;
    background-color: #ec7979;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0;
    color: #ffffff;
    border: none;
    text-align: center;
    cursor: pointer;
}

.contact__form-button button:hover {
    background-color: #ab4949;
    color: #f5f5f5;
}

.contact__form-button button:active {
    background-color: #ec7979;
    box-shadow: inset 0px 0px 10px #ab4949;
}

.feedback__form-button button:hover {
    background: #ab4949;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.feedback__form-button button:active {
    background-color: #ec7979;
    box-shadow: inset 0px 0px 10px #ab4949;
}

/*FOOTER*/
.footer {
    background-color: #000;
    height: 164px;
    padding: 30px 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 32px;
}
.footer__social-item {
    width: 53.2px;
    height: 53.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.social {
    display: flex;
    cursor: pointer;
}
